.block {
  margin: 20px auto;
  width: 800px;
  height: 170px;
  background-color: tomato;
  border-radius: 100px;
  position: relative;
  text-align:center;
}
.block span{
  font-size:52px;
  color:#fff;
  line-height: 170px;
  
}
 
#elem {
  width: 150px;
  height: 150px;
  padding: 10px;
  border: 10px solid rgb(148, 34, 34);
  white-space: nowrap;
  overflow: auto;
  }
